.light{
  background-color: white !important;
  color: #121224 !important;
}
.dark{
  background-color: #191931 !important;
  color: white !important;
}
.light-main{
  background-color: white;
  color: #121224;
}
.dark-main{
  background-color: #202029;
  color: white;
}