
.card{
    width: 240px;
    height: auto;
    height: 320px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}
.flag{
    width: 100%;
    height: 150px;
    object-fit: cover;
}
.content{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.content h3{
    font-size: 1.5em;
}
.card-content{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}