.list{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
    justify-content: flex-start;
    width: 100%;
}
.list-outer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
}
.link-card{
    text-decoration: none;
    color: inherit;
}
@media (max-width: 768px) {
    .list{
        justify-content: center;
    }
}