.main{
    display: flex;
    flex-direction: column;
    padding: 20px 60px;
    margin-top: 20px;
    min-height: calc(100vh - 70px);
    
}

.search-bar{
    display: flex;
    justify-content: space-between;
    position: relative;
}

.input-search{
    padding: 5px 8px;
    border: none;
    padding-left: 40px;
    outline: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}
.srch-icon{
    position: absolute;
    font-size: 1.5em;
    top: 6px;
    left: 10px;
}
.select{
    width: 120px;
    border: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    height: 30px;
    padding: 5px;
}
.border-country{
    display: flex;
    gap: 20px;
    align-items: center;
}
.brd-cntr{
    display: flex;
    list-style: none;
    gap: 20px;
    flex-wrap: wrap;
}
.brd-cntr li{
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 5.5);
    border-radius: 4px;
    padding: 3px 7px;
}

@media (max-width: 768px) {
    .main{
        padding: 10px;
        justify-content: flex-start;
        align-items: center;
    }
    .search-bar{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}