.nav{
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    height: 50px;
    align-items: center;
    box-shadow: 0px 0px 10px black ;
    z-index: 1;
}
.switch-theme{
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.switch-theme span{
    padding: 5px 8px;
    border: none;
    font-size: 1.3em;
    background-color: transparent;
}
@media (max-width: 768px) {
    .nav{
        padding: 10px;
    }
}