.view{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.image img{
    width: 320px;
    object-fit: cover;
}
.btn-back{
    width: 120px;
    height: 30px;
    border: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 5.5);
    border-radius: 4px;
}
.view-content{
    display: flex;
    gap: 30px;
}
.country-spec{
    padding: 20px;

}
.country-spec h2{
    font-size: 2em;
    margin-bottom: 20px;
}
.list-spec{
    display: flex;
    gap: 50px;
}
.list-spec-1{
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 10px;
    min-width: 180px;
}
.list-spec-2{
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 10px;
}
.list-spec li{
    display: flex;
    align-items: center;
    gap: 5px;
}

.border-country{
    margin-top: 30px;
}

@media (max-width: 768px) {
    .view-content{
        flex-direction: column;
    }
    .list-spec{
        flex-direction: column;
    }
    .image img{
        width: 100%;
    }
}